## Latihan Numpy

In [6]:
#Import Library

In [5]:
# Perubahan dari List ke Array
# np.array()

In [3]:
# Membuat Array 2D
# Lihat seberapa banyak kurung siku di awal untuk menentukan jumlah dimensi atau .ndim

In [4]:
#Menentukan ukuran suatu array
#.shape

In [5]:
#Menentukan jumlah total elemen suatu array
#.size

In [6]:
#Indexing & Slicing


#Mengubah urutan array 1D dari belakang ke depan (Descending)

**NOMOR 1**

Buatlah sebuah array seperti dibawah ini dan tambahkan setiap elemennya dengan `1`.

```
a = [10, 20, 30, 40, 50]
```

In [7]:
#Cara 1 : Menambahkan dengan bil. skalar

In [8]:
# Cara 2 : Menambahkan dengan "Special Array"
#np.ones()

**NOMOR 2**

Buatlah sebuah array seperti dibawah ini dan keluarkan element yang bernilai negatif.

```
b = [-3, 0, -2, 1, 2, 3, -4]
```

In [9]:
#Buat array

In [10]:
# Jika `b < 0` maka hanya akan dilakukan pengecekan apakah element di `b` kurang dari 0 atau tidak

In [11]:
# Jika `b[b < 0]` maka element di `b` kurang dari 0 akan ditampilkan

**NOMOR 3**

Buatlah sebuah array seperti dibawah ini. Keluarkan element yang bernilai positif kemudian urutkan dari nilai yang kecil ke besar

```
c = [10, -8, 4, 5, -41, 7, 5, -4]
```

In [12]:
#Buat array

In [13]:
# Sort elemen dari bilangan kecil ke besar
#np.sort(nama_array)

In [14]:
# Sort elemen dari bilangan besar ke kecil
#sort dan Slicing dengan step = -1

**NOMOR 4**

Buatlah array seperti dibawah ini kemudian tumpukkan secara horizontal dan vertikal satu sama lain.

```
d = [1, 2, 3, 4, 5]
e = [6, 7, 8, 9, 10]
```

In [15]:
#Buat array

In [16]:
#Stacking Horizontal -> np.hstack((array1,array2))
#Stacking Vertikal -> np.vstack((array1,array2))

**NOMOR 5**

Buatlah dua buah array seperti dibawah ini yang berasal dari 1 deklarasi variabel yang sama. Kemudian, kalikan array pertama dengan `2` dan kalikan array kedua dengan `3`.

```
f = [10, 20, 30, 40, 50]
```

Ekspektasi output : 
```
hasil perkalian dengan 2 -> [20, 40, 60, 80, 100] 
hasil perkalian dengan 3 -> [30, 60, 90, 120, 150]
```

In [17]:
#Buat array f

In [18]:
#Copy array f ke variabel baru

In [19]:
#Kalikan masing2 variabel

**NOMOR 6**

Buatlah sebuah array seperti dibawah ini dan hitung total jumlahnya.

```
h = [1, 2, 3, 4, 5]
j = [ [1, 2, 3],
      [4, 5, 6]]
```

Ekspektasi output :

```
total nilai h = 15
total nilai j berdasarkan penjumlahan baris = [6, 15]
total nilai j berdasarkan penjumlahan kolom = [5, 7, 9]
```

In [20]:
#Buat array

In [21]:
#jumlahkan array h
#.sum()

In [22]:
#Penjumlahan berdasarkan baris
#baris -> axis = 1

In [23]:
#Penjumlahan berdasarkan kolom
# kolom -> axis = 0

**NOMOR 7**

Buatlah sebuah array seperti dibawah ini dan cari nilai `min`, `max`, dan `sum` per baris dan per kolom.

```
k = [ [1, 2, 3],
      [4, 5, 6]]
```

In [24]:
#Buat array

In [25]:
#Mencari nilai minimum -> .min()
#Mencari nilai maximum - > .max()
#Mencari nilai total -> .sum()

**NOMOR 8**

Buatlah sebuah array seperti dibawah ini dan cari baris kedua dan kolom kedua.

```
n = [ [1, 2, 3], 
      [4, 5, 6],
      [7, 8, 9]]
```

In [26]:
#Buat array

In [27]:
#Get baris&Kolom
# nama_array[baris,kolom]

In [28]:
# Get baris kedua
# Bisa menggunakan n[1] atau n[1, :]

In [29]:
# Get kolom kedua (menampilkan secara array 1D)
#n[:, 1]

In [30]:
# Get kolom kedua (menampilkan secara array 2D)
# nama_array[:, [index_kolom]]

In [31]:
# Get elemen diagonal (dari kiri ke kanan)
# np.diag()
# buka dokumentasi

In [32]:
# Get elemen diagonal (dari kanan ke kiri)
# np.diag(np.fliplr(n))

**NOMOR 9**

Buatlah sebuah array seperti dibawah ini dan cari nilai `min`, `max`, dan `sum` untuk baris kedua dan kolom kedua.

```
m = [ [1, 2, 3], 
      [4, 5, 6],
      [7, 8, 9]]
```

In [33]:
#Buat array

In [34]:
#buat variabel yang berisikan baris ke 2

#buat variabel yang berisikan kolom ke 2

In [35]:
#Cari masing2 nilai sum, min, dan max

**NOMOR 10**

<img src='https://i.ibb.co/JvBzgWn/greyscale.png'>

Download image [disini](https://i.ibb.co/JvBzgWn/greyscale.png)

* Load gambar tersebut dengan menggunakan library matplotlib.
* Jawab pertanyaan berikut ini : 
  - Berapa ukuran gambar tersebut.
  - Berapa total piksel/element pada gambar tersebut.
  - Cerahkan gambar tersebut dengan menambahkan suatu angka.

In [36]:
#Install matplotlib in jupyter
import sys  
!{sys.executable} -m pip install --user matplotlib

Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [37]:
#Import matplotlib

In [38]:
#Baca gambar menggunakan plt.imread('location_gambar') lalu masukkan ke variabel

In [39]:
#Cek ukuran gambar
#.shape

In [40]:
# Total Piksel
#.size

In [41]:
#Nilai piksel
#img, udah di scalling

In [42]:
#Memastikan tipe data menjadi array
#np.asarray()

In [43]:
#Menentukan nilai yg akan ditambahkan ke piksel
#Ubah ke skala 0-1, divide by 255 (highest pixel value)

In [44]:
#Copy datanya dulu (penting setiap ingin memodifikasi data) ke variabel baru

#tambahkan nilai piksel ke gambar

In [45]:
# Menampilkan gambar original
# `img` : array gambar
# `cmap` : color map #figure
# `vmin` : value minimum #figure
# `vmax` : value maximum #figure
#plt.imshow(nama_variabel, cmap='gray', vmin=0, vmax=1)

In [46]:
# Menampilkan gambar yg sudah ditambah suatu value

In [48]:
#Save fig
# plt.savefig('new_img.png')