# Non Graded Challenge 9

_Non-Graded Assignment ini dibuat guna mengevaluasi pembelajaran pada Hacktiv8 Data Science Fulltime Program khususnya pada konsep SQL._

---
## Assignment Instructions

Langkah - langkah sebelum mengerjakan : 
* Gunakan dataset dari URL [ini](https://github.com/danupurnomo/hacktiv8-exercises/blob/main/P0W2D4AM%20%26%20P0W2D4PM%20-%20SQL/P0W2D4AM%20%26%20P0W2D4PM%20-%20SQL.ipynb).
* Buatlah table `teachers` dan `courses`. Masukkan semua data pada masing-masing table.
* Table `teachers` akan memiliki 15 data.
* Table `courses` akan memiliki 20 data.

Soal : Carilah dosen yang memiliki gaji tertinggi per masing-masing mata kuliah. Tampilkan semua atribut dosen dan semua atribut mata kuliahnya. Urutkan hasilnya berdasarkan nama mata kuliahnya secara ascending (A-Z).

Hasil output yang diharapkan : 
<img src="https://i.ibb.co/gM4QpXj/Phase-0-Output-NGC-9.png">

### 1. Penarikan data gaji tertinggi dosen per mata kuliah dengan menampilkan seluruh atribut dosen dan mata kuliahnya diurutkan berdasarkan nama mata kuliah (A-Z).

```
select *
from teachers
join courses on teachers.id=courses.teachers_id
where (courses.name, teachers.salary) in (
  select courses.name, max(teachers.salary)
  from teachers
  join courses on teachers.id=courses.teachers_id
  group by courses.name)
  order by courses.name asc;

```