#**WEEK 1 NONGRADED CHALLENGE**

Kamu adalah salah satu tim relawan back office penanganan COVID-19 di Indonesia. Kamu diminta untuk memperoleh data baru dari dataset yang sudah disediakan. Kerjakan dan jawab pertanyaan-pertanyaan berikut. (**Dataset yang disediakan merupakan jumlah kasus kumulatif tiap harinya**)

Data dapat diakses pada link berikut:
https://raw.githubusercontent.com/fahmimnalfrzki/Dataset/main/data_covid_dunia_13_apr_22.csv

## **Task 1**

Buatlah sebuah fungsi untuk menghitung penambahan jumlah kasus harian Covid-19 dari data kumulatif yang disediakan! (Hint: Kamu bisa menggunakan **.diff()** yang disediakan oleh Pandas untuk menghitung perbedaan tiap baris data/menghitung penambahan jumlah kasus harian dan perhatikan missing value setelah perhitungan kasus harian, isi missing value dengan angka 0!)

In [80]:
import numpy as np
import pandas as pd

In [81]:
df = pd.read_csv("data_covid_dunia_13_apr_22.csv")

In [82]:
df

,Unnamed: 0,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
0,1/22/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1/23/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
2,1/24/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
3,1/25/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
4,1/26/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
808,4/9/22,177974,274191,265720,40328,99194,11,7511,9052083,422662,...,893575,238040,5125,521373,10169929,656287,535,11813,317483,246925
809,4/10/22,177974,274219,265724,40328,99194,11,7511,9052536,422677,...,893909,238071,5480,521471,10198236,656287,535,11813,317483,246958
810,4/11/22,178141,274219,265727,40328,99194,11,7511,9054126,422678,...,894267,238088,5487,521471,10250160,656287,535,11814,317804,247010
811,4/12/22,178257,274272,265730,40328,99194,11,7523,9056203,422691,...,894630,238098,5536,521546,10272964,656617,535,11814,317804,247094
812,4/13/22,178295,274320,265731,40709,99194,11,7523,9057923,422711,...,894984,238145,5543,521714,10297587,656617,535,11815,318113,247160

In [83]:
df.rename(columns={"Unnamed: 0": "Tanggal"}, inplace=True)

In [84]:
df.set_index("Tanggal", inplace= True)

In [85]:
df.diff().fillna(0)

,Afghanistan,Albania,Algeria,Andorra,Angola,Antarctica,Antigua and Barbuda,Argentina,Armenia,Australia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,West Bank and Gaza,Winter Olympics 2022,Yemen,Zambia,Zimbabwe
Tanggal,,,,,,,,,,,,,,,,,,,,,
1/22/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/23/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0
1/24/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/25/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1/26/20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4/9/22,0.0,55.0,6.0,0.0,0.0,0.0,0.0,840.0,19.0,785.0,...,566.0,46.0,203.0,48.0,34140.0,0.0,0.0,1.0,0.0,0.0
4/10/22,0.0,28.0,4.0,0.0,0.0,0.0,0.0,453.0,15.0,747.0,...,334.0,31.0,355.0,98.0,28307.0,0.0,0.0,0.0,0.0,33.0
4/11/22,167.0,0.0,3.0,0.0,0.0,0.0,0.0,1590.0,1.0,909.0,...,358.0,17.0,7.0,0.0,51924.0,0.0,0.0,1.0,321.0,52.0
4/12/22,116.0,53.0,3.0,0.0,0.0,0.0,12.0,2077.0,13.0,967.0,...,363.0,10.0,49.0,75.0,22804.0,330.0,0.0,0.0,0.0,84.0
4/13/22,38.0,48.0,1.0,381.0,0.0,0.0,0.0,1720.0,20.0,1057.0,...,354.0,47.0,7.0,168.0,24623.0,0.0,0.0,1.0,309.0,66.0

## **Task 2**

Buat variabel baru yang berisikan data penambahan jumlah kasus positif harian Covid-19 di dunia menggunakan fungsi yang telah kamu buat sebelumnya!

In [86]:
df_harian = df.diff().fillna(0)

## **Task 3**

Pada tanggal berapa puncak tertinggi kasus harian Covid-19 di Indonesia? bandingkan dengan tanggal 10 April 2022, apakah mengalami penurunan atau kenaikan jumlah kasus dibandingkan tanggal tersebut? (Kamu bisa gunakan pandas query untuk hal ini)

In [87]:
df_harian["Indonesia"].sort_values(ascending=False)

Tanggal
2/16/22    64718.0
2/17/22    63956.0
2/23/22    61488.0
2/18/22    59635.0
2/19/22    59384.0
            ...
2/16/20        0.0
2/15/20        0.0
2/14/20        0.0
2/13/20        0.0
1/22/20        0.0
Name: Indonesia, Length: 813, dtype: float64

In [88]:
df_harian.loc["4/10/22","Indonesia"]

1071.0

Diketahui puncak kasus penambahan covid 19 terjadi pada tanggal 16 Februari 2022 dengan jumlah kasus 64718.
Sementara itu pada tanggal 10 April 2022 penambahan kasus covid 19 turun ke angka 1071 kasus

## **Task 4**

Gunakan for loop dan conditional if untuk membuat sebuah list yang berisikan penambahan jumlah kasus harian Covid-19 dengan ketentuan hanya mengambil data Indonesia saja dan jumlah kasus di bawah 10000. Berapa jumlah hari dengan kasus di bawah 10000? (Gunakan for loop dan conditional if dalam hal ini)

In [89]:
df_harian.reset_index(drop=True, inplace=True)

In [90]:
df_harian.shape

(813, 284)

In [91]:
jumlah = []

for i in range(0, len(df_harian)):
    if df_harian.loc[i, "Indonesia"] < 10000:
        jumlah.append(df_harian.loc[i, "Indonesia"])
    elif df_harian.loc[i, "Indonesia"] > 10000:
        continue

jumlah

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 2.0,
 0.0,
 0.0,
 0.0,
 2.0,
 0.0,
 2.0,
 13.0,
 8.0,
 7.0,
 0.0,
 35.0,
 27.0,
 21.0,
 17.0,
 38.0,
 55.0,
 84.0,
 58.0,
 81.0,
 64.0,
 65.0,
 107.0,
 104.0,
 103.0,
 153.0,
 109.0,
 130.0,
 129.0,
 114.0,
 149.0,
 113.0,
 196.0,
 106.0,
 181.0,
 218.0,
 247.0,
 218.0,
 337.0,
 219.0,
 330.0,
 399.0,
 316.0,
 282.0,
 297.0,
 380.0,
 407.0,
 325.0,
 327.0,
 185.0,
 375.0,
 283.0,
 357.0,
 436.0,
 396.0,
 275.0,
 214.0,
 415.0,
 260.0,
 347.0,
 433.0,
 292.0,
 349.0,
 395.0,
 484.0,
 367.0,
 338.0,
 336.0,
 533.0,
 387.0,
 233.0,
 484.0,
 689.0,
 568.0,
 490.0,
 529.0,
 489.0,
 496.0,
 486.0,
 693.0,
 973.0,
 634.0,
 949.0,
 526.0,
 479.0,
 415.0,
 686.0,
 687.0,
 678.0,
 557.0,
 700.0,
 467.0,
 609.0,
 684.0,
 585.0,
 703.0,
 993.0,
 672.0,
 847.0,
 1043.0,
 1240.0,
 979.0,
 1111.0,
 1014.0,
 857.0,
 1017.0,
 1106.0,
 1031.0,
 1331.0,
 1041.0,
 1226.0,
 862.0,
 954.0,
 1051.0,
 1113.0,
 1178.0,
 1240.0,
 1385.0,
 1198.0,
 1082.0,
 1293.0,
 1385.0,
 1624.0,
 1301.0,
 1447.0,
 1607.0,
 1209.0,
 1268.0,
 1853.0,
 2657.0,
 1611.0,
 1671.0,
 1681.0,
 1282.0,
 1591.0,
 1522.0,
 1574.0,
 1462.0,
 1752.0,
 1639.0,
 1693.0,
 1655.0,
 1882.0,
 1906.0,
 1761.0,
 1868.0,
 1492.0,
 1525.0,
 1748.0,
 2381.0,
 1904.0,
 2040.0,
 1560.0,
 1519.0,
 1679.0,
 1922.0,
 1815.0,
 1882.0,
 2473.0,
 2277.0,
 1893.0,
 1687.0,
 1693.0,
 1942.0,
 2098.0,
 2307.0,
 2345.0,
 2081.0,
 1821.0,
 1673.0,
 1902.0,
 2266.0,
 2197.0,
 2090.0,
 2037.0,
 1877.0,
 2447.0,
 2306.0,
 2719.0,
 3003.0,
 3308.0,
 2858.0,
 2743.0,
 2775.0,
 3075.0,
 3622.0,
 3269.0,
 3128.0,
 3444.0,
 2880.0,
 3046.0,
 3307.0,
 3861.0,
 3737.0,
 3806.0,
 3636.0,
 3141.0,
 3507.0,
 3963.0,
 3635.0,
 3891.0,
 4168.0,
 3989.0,
 4176.0,
 4071.0,
 4465.0,
 4634.0,
 4823.0,
 4494.0,
 3874.0,
 3509.0,
 4002.0,
 4284.0,
 4174.0,
 4317.0,
 4007.0,
 3992.0,
 3622.0,
 4056.0,
 4538.0,
 4850.0,
 4094.0,
 4294.0,
 4497.0,
 3267.0,
 3906.0,
 4127.0,
 4411.0,
 4301.0,
 4301.0,
 4105.0,
 3373.0,
 3602.0,
 4267.0,
 4432.0,
 4369.0,
 4070.0,
 3732.0,
 3222.0,
 3520.0,
 4029.0,
 3565.0,
 2897.0,
 3143.0,
 2696.0,
 2618.0,
 2973.0,
 3356.0,
 4065.0,
 3778.0,
 4262.0,
 3880.0,
 2853.0,
 3779.0,
 3770.0,
 4173.0,
 5444.0,
 5272.0,
 4106.0,
 3535.0,
 3807.0,
 4265.0,
 4798.0,
 4792.0,
 4998.0,
 4360.0,
 4442.0,
 4192.0,
 5534.0,
 4917.0,
 5828.0,
 5418.0,
 6267.0,
 4617.0,
 5092.0,
 5533.0,
 8369.0,
 5803.0,
 6027.0,
 6089.0,
 5754.0,
 5292.0,
 6058.0,
 6033.0,
 6310.0,
 6388.0,
 6189.0,
 5489.0,
 6120.0,
 6725.0,
 7354.0,
 6689.0,
 7751.0,
 6982.0,
 6848.0,
 6347.0,
 7514.0,
 7199.0,
 7259.0,
 6740.0,
 6528.0,
 5854.0,
 7903.0,
 8002.0,
 8074.0,
 8072.0,
 7203.0,
 6877.0,
 6753.0,
 7445.0,
 8854.0,
 9321.0,
 9640.0,
 8692.0,
 9086.0,
 9994.0,
 8242.0,
 8700.0,
 8776.0,
 8435.0,
 9869.0,
 8844.0,
 6765.0,
 6462.0,
 9687.0,
 9039.0,
 8054.0,
 7300.0,
 9775.0,
 7533.0,
 8493.0,
 8232.0,
 6208.0,
 5560.0,
 6680.0,
 5712.0,
 6808.0,
 7264.0,
 6971.0,
 5767.0,
 5826.0,
 6894.0,
 6389.0,
 5633.0,
 5144.0,
 6412.0,
 4607.0,
 4714.0,
 5589.0,
 5414.0,
 6825.0,
 6570.0,
 6279.0,
 5656.0,
 4396.0,
 5744.0,
 5297.0,
 5227.0,
 6107.0,
 4982.0,
 4461.0,
 4083.0,
 5008.0,
 4682.0,
 5937.0,
 6142.0,
 5325.0,
 4345.0,
 6731.0,
 3712.0,
 4549.0,
 4860.0,
 5504.0,
 5265.0,
 4723.0,
 4127.0,
 4829.0,
 5702.0,
 5656.0,
 6177.0,
 5363.0,
 5041.0,
 4585.0,
 4952.0,
 5549.0,
 5720.0,
 6243.0,
 5436.0,
 4544.0,
 4402.0,
 5944.0,
 4656.0,
 5241.0,
 5833.0,
 5500.0,
 4512.0,
 4394.0,
 4730.0,
 4369.0,
 5285.0,
 5647.0,
 6327.0,
 6130.0,
 3922.0,
 4891.0,
 5021.0,
 4608.0,
 3448.0,
 2633.0,
 2385.0,
 3080.0,
 4295.0,
 4185.0,
 4871.0,
 5797.0,
 5746.0,
 5296.0,
 5280.0,
 5907.0,
 5060.0,
 5034.0,
 6278.0,
 5862.0,
 6565.0,
 6115.0,
 5662.0,
 4824.0,
 5246.0,
 5353.0,
 6486.0,
 6594.0,
 5832.0,
 6993.0,
 6294.0,
 7725.0,
 8892.0,
 8083.0,
 7465.0,
 9868.0,
 8189.0,
 8161.0,
 9944.0,
 9604.0,
 7427.0,
 5436.0,
 0.0,
 6727.0,
 5403.0,
 4413.0,
 7201.0,
 6731.0,
 5990.0,
 5376.0,
 5001.0,
 3779.0,
 2577.0,
 4128.0,
 3948.0,
 3145.0,
 3835.0,
 3385.0,
 2234.0,
 1932.0,
 3263.0,
 2720.0,
 2881.0,
 2557.0,
 2137.0,
 1760.0,
 1390.0,
 2057.0,
 1954.0,
 1690.0,
 1624.0,
 1414.0,
 1142.0,
 922.0,
 1404.0,
 1484.0,
 1393.0,
 1384.0,
 1167.0,
 894.0,
 620.0,
 1261.0,
 1233.0,
 1053.0,
 915.0,
 997.0,
 747.0,
 626.0,
 903.0,
 914.0,
 633.0,
 760.0,
 802.0,
 623.0,
 460.0,
 611.0,
 719.0,
 723.0,
 683.0,
 620.0,
 523.0,
 403.0,
 612.0,
 801.0,
 628.0,
 518.0,
 401.0,
 444.0,
 244.0,
 434.0,
 480.0,
 435.0,
 399.0,
 359.0,
 339.0,
 221.0,
 347.0,
 522.0,
 400.0,
 360.0,
 393.0,
 314.0,
 186.0,
 394.0,
 451.0,
 372.0,
 453.0,
 404.0,
 264.0,
 176.0,
 297.0,
 278.0,
 311.0,
 245.0,
 246.0,
 196.0,
 130.0,
 261.0,
 264.0,
 220.0,
 192.0,
 228.0,
 163.0,
 106.0,
 190.0,
 205.0,
 213.0,
 291.0,
 232.0,
 164.0,
 133.0,
 216.0,
 179.0,
 136.0,
 204.0,
 255.0,
 0.0,
 212.0,
 278.0,
 194.0,
 189.0,
 180.0,
 274.0,
 174.0,
 265.0,
 299.0,
 404.0,
 533.0,
 518.0,
 479.0,
 529.0,
 454.0,
 802.0,
 646.0,
 793.0,
 850.0,
 1054.0,
 855.0,
 772.0,
 1362.0,
 1745.0,
 2116.0,
 2604.0,
 3205.0,
 2925.0,
 2927.0,
 4878.0,
 7010.0,
 8077.0,
 9905.0,
 9629.0,
 9528.0,
 7951.0,
 5922.0,
 4699.0,
 7464.0,
 6376.0,
 5808.0,
 0.0,
 0.0,
 9046.0,
 5875.0,
 3895.0,
 3840.0,
 3332.0,
 2930.0,
 0.0,
 0.0,
 0.0,
 8176.0,
 2400.0,
 2089.0,
 1755.0,
 1468.0,
 1071.0,
 1196.0,
 1455.0,
 1551.0]

In [93]:
len(jumlah)

661

Jumlah penambahan kasus harian pada dataframe yang berjumlah kurang dari 10000 kasus diketahui tercatat sebanyak 661 hari